body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
/*top-section*/

.top-section{
    display: flex;
    clear: both;
}
.border-left{
    border-left: 5px solid crimson;
}
.span{
    color: darkgoldenrod;
}
.header-div{
    width: 40%;
    margin: 100px;
}
.img-div{
    width:40%;
    margin: 100px;
}
.img-div img{
    width: 100%;
    margin-top: -100px;
}
.button-style{
    text-decoration: none;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    background-image: linear-gradient(60deg,crimson,gold);

}
/*end of top-section*/

/* second-section */
.mission{
    text-align: center;
    font-size: 40px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #FFF4D6;
}

.card img {
    width: 50%;
}
.card-column {
    float: left;
    width: 30%;
    padding: 0 10px;
    margin-left: 20px;
}

.card-flex{
    display: flex;
    margin-bottom: 50px;
    
}
/* end of second-section */

/* Third-section */
.third-section{
    display: flex;
}
.fourth-section{
    display: flex;
}
/* end of Third-section */
