body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
   
}
h1{
    font-size: 40px;
}


/*top-section*/

.top-section{
    display: flex;
    clear: both;
}
.header-div p{
    color: black;
}
.card-flex p{
    color: black;
}
.border-left{
    border-left: 7px solid;
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 1;
}
.border-left h1{
    margin-left: 20px;
}
.span{
    color: darkgoldenrod;
}
.header-div{
    width: 40%;
    margin: 100px;
}
.img-div{
    width:40%;
    margin: 100px;
}
.img-div img{
    width: 100%;
}
.button-style{
    max-width: auto;
    text-decoration: none;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    background-image: linear-gradient(45deg,crimson,gold);

}
/*end of top-section*/

/* second-section */
.mission{
    text-align: center;
    font-size: 40px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: left;
    border-radius: 10px;
}

.card img {
    width: 50%;
}
.card-column {
    float: left;
    width: 30%;
    padding: 0 10px;
    margin-left: 20px;
    text-align: left;
}
#card-one{
    background-color: #4F9DA61A;
    ;
}
#card-two{
    background-color: #FFEEEE;
}
#card-three{
    background-color: #FFF4D6;
}

.card-flex{
    display: flex;
    margin-bottom: 50px;
    
}
/* end of second-section */

/* Third-section */
.third-section{
    display: flex;
    clear: both;
    background-image: url(./images/dream-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}
.fourth-section{
    display: flex;
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
/* end of Third-section */
/* Bonus-section */

.bonus{
    display: flex;
    
}
.bonus .img-div{
    background-image: url(./images/shape-3.png);
    background-repeat: no-repeat;
    background-position: left;
    width: 2px left;
}
.contact{
    text-align: center;
}
.input{
    text-align: center;
}

/* end of bonus-section */


/* footer-section */
.footer-section{
    text-align: center;
    background-color: black;
    padding: 30px 20px;
}
.footer-section h3, p{
    color: whitesmoke;
    font-style: italic;
}
footer h3{
    font-size: 30px;
}
/* end of footer */
